@import "tailwindcss";


@utility  container{
    margin: 0 auto;
}




@theme{
    --color-prmiaryColor: #1c1c1a;
    --color-sceondryColor: #656462;
    --color-baseColor: #FEFDF8;
    --color-brandColor: #fa1a7f;
    --color-lightBrandColor: #f5b0cf;
    --font-headerFont: "Bebas Neue", sans-serif;
    --font-textFont: "Ubuntu", sans-serif;
    --font-headerFont: "Cal Sans", sans-serif;
    
}

a{
    display: inline-block ;
}