@import "tailwindcss";


@utility  container{
    margin: 0 auto;
}




@theme{
    --color-prmiaryColor: #222222;
    --color-sceondryColor: #656462;
    --color-baseColor: #FEFDF8;
    --color-brandColor: #A4B465;
    --color-lightBrandColor: #DDEB9D;
    
    --font-textFont: "Ubuntu", sans-serif;
    --font-headerFont: "Cal Sans", sans-serif;
    
}

a{
    display: inline-block ;
}

body{
    background-color: #EAEAEA;
}

.custom-bg img{
    /* background-image: url(../public/parallax-back.jpg); */
    background-position: center;
    height: 100dvh;
    width: 100%;
}

.parallaxEffect{
    background: url("../public/parallax-back.jpg") no-repeat fixed center / cover;
    width: 100%;
   
    padding: 0 !important;
    margin: 0 !important;

}

.contact_back{
    background: url("../public/contact.jpg") no-repeat fixed center / cover;
    border-radius: 20px;
    overflow: hidden;
}

.blog_back{
    background: url("../public/blog.jpg") no-repeat fixed center / cover;
    height: 40dvh;
    
    overflow: hidden;
}


